.about-title
{
    margin: auto;
    text-align: center;
    padding: 100px;
    position: center;
}
.about-p
{
    text-align: justify;
}
.Logo
{
    border-radius: 10px;
    max-width:20%;
    max-height: 20%;
    height: auto;
    float: left;
}