.sign-up-form {
    justify-content: center;
    text-align: center;
}

.signup-box {
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 550px;
    padding-bottom: 66px;
    padding-top: 60px;
    text-align: center;
    width: 90%;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    display: inline-block; 
}

.signup-title {
    background-image: '../images/conf-room.jpg';
}

.input-field
{
    display: table-column;
    width: 400px;
    justify-content: center;
    background-color: transparent;
}
.spacer
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.canc-sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.divider {
    width:10px;
    height:auto;
    display:inline-block;
}
Button.primary
{
    background: #50B2C0;
}
Button.secondary
{
    background: #e63946;
}