.signup-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.canc-sub
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.divider
{
    width:10px;
    height:auto;
    display:inline-block;
}